@import "./base.css";

body,
html,
#app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
}

input[type="text"] {
  font-size: 1rem;
}

.btn-std {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(110, 112, 212);
}

.btn-std:disabled {
  color: rgb(172, 172, 172);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  filter: saturate(0);
}

@media screen and (max-width: 500px) {
  #app {
    font-size: 0.85rem;
  }
  input[type="text"] {
    font-size: 0.85rem;
  }
}
