@import "./base.css";

body,
html,
#app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  filter: saturate(0);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
